<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instamanuel</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>

    <nav class=  "navbar navbar-dark bg-dark">
        <div class = "container">
          <a href="/" class= "navbar-brand">
          
            <img src="/public/img/instamanuel-logo.png" alt="Logo instamanuel">
          
          </a>

        </div>

    </nav>

    <div class="container p-4">
      <div class="row">
        <div class="col-md-8">
          {{{ body  }}} 
        </div>
        <div class="col-md-4">
          {{>stats this}}
          {{>popular this}}
          {{>comments this}}
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="bg-dark text-white">
      <div class="container p-2">
        <div class="row">
          <div class="mx-auto text-center">
            <p>Instamanuel | All rights reserved</p>
            <p>
              <i class="fab fa-twitter-square fa-2x"></i>
              <i class="fab fa-facebook-square fa-2x"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    {{>footer}}
    <script src="/public/js/scripts.js"></script>
</body>
</html>